<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginstyles.css">
    <script src="/js/loginjs.js" defer></script>
    <title>Login or signup</title>
</head>
<body>
    <nav>
        <ul>
          <li>Home</li>
          <li>Search</li>
          <li>Browse</li>
          <li>About us</li>
          <li style="float:right" id="profile">Profile</li>
        </ul>
        </nav>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/auth/signup" method="post">
                <h1>Create Account</h1>
                <br>
                
                <input name="name" type="text" placeholder="Name" />
                <input name="email" type="email" placeholder="Email" />
                <input name="contactNumber" type="Number" placeholder="Contact Number" />
                <input name="password" type="password" placeholder="Password" />
                <input name="verifypassword" type="password" placeholder="Verify Password" />
                
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/auth/signin" method="post">
                <h1>Sign in</h1>

                <span>already have an account? log in!</span>
                <input name="email" type="email" placeholder="Email" />
                <input name="password" type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <br>

                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start cooking with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
<footer></footer>   
</body>

</html>