<body>
    <%= id %>
    
    <script src="/js/apicall.js" type="text/javascript">
    </script>
    <p id="123"></p>
    <script defer>
        //const final = JSON.parse(str);
        var functionality = "<%= functionality %>";
        if(functionality === 'getRecipeList')
        {
            var from = "<%= from %>";
            var tag = "<%= tag %>";
            getRecipeList(from,tag);
        }
    </script>
    </body>
    